.game-cell, .game-cell button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
}

.game-cell img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Adjust as needed for spacing */
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}