@model Milestone4.Models.UserModel

<div>
    <h4>Login Failure</h4>
    <p>Invalid username or password.</p>
    <hr />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
